.card{
    margin: 0 auto;
    /*display:block;*/
    flex-direction:column;
    text-align: center;
    
   
   
}
mat-card-content{
    text-align: center;
}

img{
    display: block;
}

p{
     margin: 0px;
     padding:0px;
}
#admin{
    background-color: orange;
    float: right;
}