
 <a id='admin'(click)="addnewproduct()">Product Management</a>
 <br>
 <br>
 
  <div class="row">
    <div class="card" *ngFor="let  p of productList;let i=index">


      <mat-card class="example-card" (click)="productSelected(p)">

        <img mat-card-image src="{{p.imageurl}}" alt="Photo of product"
        [style.margin.px]='10' [style.width.px]='200' [style.height.px]='200' >
        
        <mat-card-title>{{p.name}}</mat-card-title>
        
        <mat-card-content>

          <p>Price:{{p.price | currency:'INR'}}</p>
                    <p><app-rating [rating]='p.rating' style='margin-left :30px;'></app-rating>
          </p>
         

        </mat-card-content>
        <div>
        <button class="btn btn-info" [routerLink]="['/products',p.id]">View More Details</button>
        <br>
            <!-- <i class="fa fa-trash" style="font-size:24px;margin-right: 5px;" aria-hidden="true" 
            (click)='deleteEntry(p)'></i>
           
            <a [routerLink]="['addProduct']" (click)="productSelected(p)"><i class="fa fa-edit" style="font-size:24px"></i></a> -->
            
            
    </div>
       

    </mat-card>
    


  </div>
  <br>
  <br>

  </div>
  <br>
  <br>

  <!-- <button id='add'(click)='addnewproduct()'>Add new entry</button> -->
 
  <router-outlet></router-outlet>
  

 




