#adminHome{
    float:right;
}

.card{
    width:100%;
    
}

form{
    width: full-width;
   
    background-color: cornflowerblue;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;

    
}

#btn,#cancel{
    margin-left:20px;
}


