<h3>Contact Us</h3>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div id="main" class="form-group">
        <p>
            <label for="firstName">First Name</label><br>
            <mat-form-field appearance="outline" [style.width.px]=400>
                <mat-label>First name</mat-label>
                <input matInput formControlName='firstName' id='firstName' name='firstName'>
                <mat-hint align="end">Not more than 20 characters long.</mat-hint>

            </mat-form-field>
        </p>
       
           
    
       
        <p>
            <label for="lastName">Last name</label><br>
            <mat-form-field appearance="outline" [style.width.px]=400>
                <mat-label>Last Name</mat-label>
                <input matInput formControlName='lastName' id='lastName' name='lastName'>
               
            </mat-form-field>
       </p>
       <p>
            <label for="store">Store</label><br>
            <mat-form-field appearance="outline" [style.width.px]=400>
                <mat-label>Store</mat-label>
                <input matInput formControlName='store' id='store' name='store'>
             
            </mat-form-field>
        </p>

            <p>
       
            <label for='comments'>Comments</label><br>
            <mat-form-field appearance="outline" [style.width.px]=400>
                <mat-label>Comments</mat-label>
                <textarea matInput formControlName='comments' name='comments' id='comments' name='comments'></textarea>
                <!-- <mat-error *ngIf="myError('dep', 'required')">Please enter Deparment</mat-error> -->
            </mat-form-field>
            </p>
        


        <p><button id="btn" class="btn btn-primary">Submit</button></p>

    </div>
</form>