.card-content{
    width:300px;
   text-align: center;
    
   
    
}

.card{
    align-items: center;
    text-align: center;
}
  button[mat-button]{
      background-color: blue;
      
  }

  .error{
      color:red;
      font-style: bold;
      margin-bottom:5px;
  }
   