<div class='card'>
    <div class="card-header">
        Login
    </div>
    <div class='card-content'>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  
  <mat-form-field appearance="outline" [style.width.px]=500>
    <mat-label>Username</mat-label>
    <input matInput  #userName="ngModel"id='userName' name='userName' type='text'required ngModel>
  </mat-form-field>
  <div *ngIf="!userName?.valid && (userName?.dirty || userName?.touched)" class="error">
    <div *ngIf="userName.errors?.['required']">
      Name is required
 </div>
 </div>

  <mat-form-field appearance="outline" [style.width.px]=500>
    <mat-label>Password</mat-label>
    <input matInput #password="ngModel"id='password' name='password'type='password'required ngModel>
  </mat-form-field>
  <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="error">
    <div *ngIf="password.errors?.['required']">
      Password is required
 </div>
 </div>


 

  <div class="button">
    <button type="submit" mat-button>Login</button>
  </div>

</form>
</div>

</div>
