/*.carousel-item{
    height: 480px;
    flex: shrink 0;
    
}*/

.carousel-control-next-icon,.carousel-control-prev-icon{
    background-color:blue;
}
img{
    width:70%;
    height: 300px;
}

h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic; /* do animation with text*/
    color: cornflowerblue;
}
